<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="content">
        <h1>Counter</h1>
        <h3>{{session['visits']}}</h3>
        <div class="buttons">
            <form action="/">
                <button class="blue">Click</button>
            </form>
            <form action="/clear">
                <button class="red">Reset</button>
            </form>
        </div>
    </div>
</body>
</html>